.cards__proposal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px;
}
.cards__proposal_txt {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}
.cards__proposal .button {
  padding: 0 15px;
}
.button.button_green_empty {
  color: #56BE8C;
  border: 2px solid #56BE8C
}
.button.button_green_empty:hover {
    color: #fff;
    background-color: #56BE8C;
}
.modal-proposal {
  background-color: #56BE8C;
  text-align: left;
}
.modal_form.hidden,
.modal_form_wrap.hidden {
  display: none;
}
.modal-proposal .form-group + .form-group {
  margin: 10px 0 0;
}
.modal-card.modal-proposal form label {
  color: #fff;
}
.modal-proposal .modal__inner input {
  padding: 0 10px;
}
.modal-card .modal-thx {
  display: none;
}
.modal-proposal .modal-thx {
  flex-wrap: wrap;
  min-height: 217px;
  padding: 0 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-thx.is-active {
  display: flex;
}
.modal-proposal .modal-thx .icon {
  margin: 0 0 20px;
}
.modal-proposal .modal-thx p {
  color: #fff;
  font-size: 16px;
}
/*modal-question*/
.question-ico svg {
  max-height: 32px;
  max-width: 32px;
}
.modal-card.modal-question {
  background-color: #56BE8C;
  text-align: left;
  max-width: 330px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.modal-question form label {
  color: #fff;
}
.modal-question .modal__inner input {
  padding: 0 10px;
}
.modal-question .modal__inner textarea {
  width: 100%;
  border: 0;
  height: 90px;
}
.modal-question .form-group + .form-group {
  margin: 10px 0 0;
}
.modal-question .modal_sub_btn {
  font-size: 16px;
  font-weight: 500;
  max-width: 126px;
  margin: 12px 0 0 auto;
}
.modal-question .modal-thx {
  flex-wrap: wrap;
  min-height: 217px;
  padding: 0 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-question .modal-thx .icon {
  margin: 0 0 20px;
}
.modal-question .modal-thx p {
  color: #fff;
  font-size: 16px;
}
.modal-call-phone .modal-thx {
  flex-wrap: wrap;
  min-height: 193px;
  padding: 0 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-call-phone .modal-thx .icon {
  margin: 0 0 20px;
}
.modal-call-phone .modal-thx p {
  color: #fff;
  font-size: 16px;
}